/*
Dark Theme 

p purple - bb86fc
sec - teal - 03dac5
error - cf6679
background - 121212
white - 

*/

/*
Light Theme 

p purple - 3700b3
sec - teal - 03dac5
error - cf6679
background - 121212
white - 

*/

:root {
  /*/////// Dark Theme Colors ///////*/
  --bg-color: #ffffff;
  --bg-light: #c3d3e284;
  --font-color: #121212;
  --button-color: #bb86fc;
  --error-color: #b00020;
  --bg-lighter: #ececec;
  --bg-placeholder: #3a3a3a;
  /* Width */
  --popup-width: 30rem;
  --card-width: 100%;
  --icon-width: 1.2rem;

  /*/////// Height ///////*/
  --popup-height: 16rem;
  --nav-height: 0.5rem;

  --border-rad: 0px;
}

/*/////// HTML elements ///////*/
*,
h2,
span,
p,
a,
ul,
li,
button,
input,
img,
select,
option {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  list-style: none;
  color: var(--font-color);
}

h1 {
  font-weight: 600;
  font-size: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 1rem;
}

html {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: "Mulish", sans-serif;
}

main {
  width: var(--popup-width);
  height: var(--popup-height);
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--bg-color);
  position: relative;
}

nav {
  height: var(--nav-height);
  width: calc(var(--popup-width) - 8px);
  background: var(--bg-lighter);
  padding: 1rem;
  position: static;
}

input {
  background: var(--bg-lighter);
}

::placeholder {
  color: var(--bg-placeholder);
}

.content {
  padding: 1rem 0.5rem;
  margin-top: var(--nav-height);
}

/*/////// Text ///////*/

.title {
  font-size: 0.8rem;
}

span {
  font-size: 0.75rem;
}

/* Global Classes */
.cursor {
  cursor: pointer;
}

.cursor:active {
  transform: scale(0.9);
}

.d-none {
  display: none;
}

/*/////// Global Flex ///////*/

.d-row {
  display: flex;
  align-items:center ;
}

.d-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*/////// Global Containers ///////*/

.ctn {
  padding: 0rem 0.5rem;
}

.nav-ctn {
  justify-content: space-between;
}

.card-ctn {
  display: flex;
  padding: 1rem 0.15rem;
  /*background: var(--bg-light);*/
  border-bottom: solid 2px var(--bg-light);
  width: var(--card-width);
  justify-content: space-between;
}

.info-ctn {
  padding-bottom: 0.5rem;
  justify-content: space-between;
  height: 100%;
}

.video-details-ctn {
  padding: 1rem 0rem;
}
.icon-ctn {
  padding: 0rem 3rem 0rem 1.5rem;
  display: flex;
  height: 100%;
  justify-content: space-around;
}

/*/////// General ///////*/

.text-input {
  background: var(--bg-color);
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-rad);
  color: var(--font-color);
  font-size: 0.75rem;
  width: 12.5rem;
  margin-right: 1rem;
  background: var(--bg-light);
}

.img-ctn > a > img {
  width: 190px;
  height: 120px;
  object-fit: cover;
  border-radius: var(--border-rad);
}

.img-ctn > a > img:hover {
  transform: scale(1.05);
}

.video-details-ctn,
.icon-details {
  padding-right: 2rem;
}


.icon-details > img {
  width: 0.8rem;
  height: 0.8rem;
}

.icon-details > span {
  padding-left: 0.5rem;
}

.trashcan > img,
.input-ctn > img {
  width: var(--icon-width);
  
}
.trashcan > img{
position: relative;
right: 0.9rem;
}

.search-bar {
  width: 15rem;
}

main::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  background: #000000;
  /* color of the tracking area */
}

main::-webkit-scrollbar-thumb {
  background-color: rgb(62, 62, 62);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(62, 62, 62);
  /* creates padding around scroll thumb */
}
